.header {
    font-family: sans-serif;
}

body {
    background-color: rgb(153, 191, 199);
    font-family: sans-serif;
}

.links {
    font-family: sans-serif;
}

.linuxgit {
    background-color: rgb(52, 52, 52);
    color: white;
    border-radius: 3px;
}

.busybox {
    background-color: rgb(52, 52, 52);
    color: white;
    border-radius: 3px;
}